body {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

.todasLasCartas {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    padding-left: 5%;
}

#carta {
    box-sizing: border-box; 
    width: 170px; 
    height: 250px;
    background-color: greenyellow; 
    margin: 2%;  
    border:  5px solid;
}

.chiquita 
{
    max-width: 20px;
    max-height: 20px;
}