body {
    margin: 0;
    padding: 0;
}

.todasLasCartas {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    padding-left: 5%;
}
h1 
{
    align-items: center;
}
.carta{
    box-sizing: border-box; 
    width: 170px; 
    height: 250px;
    background-color: greenyellow; 
    margin: 2%;  
    border:  5px solid;
}

.reverso{
    width: 160px; 
    height: 245px;
}

.chiquita 
{
    max-width: 20px;
    max-height: 20px;
}