@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body
{
    background-color:#ffd304;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 3;
}
div.logo img
{
    height: 150px;
    padding-left: 45%;
    
}

#formulario
{
    padding-left: 45%;
}

h1
{
    padding-left: 45%;
}