@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body
{
    background-color:rgb(253, 185, 197);
    
}
#titulo
{
    font-family: Pacifico;
    color: #5a3c3c;
    font-size: 30em;
    text-align: center;
}

#empresa
{
    font-family: Pacifico;
    color: #5a3c3c;
    font-size: 30px;
    text-align: center;
}

#logo
{
    width: 5%;
}

#empleadoFormulario
{
    margin-left: 35%;
    width: 15%;
    background-color: white;
    padding:10%
}

.checkmark 
{
    color:green;
}

.divider {
    width: 200px;
    height: 1px;
    background-color: #d4d4d4;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}